<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add Movement to Programme</h1>
<p>Programme ID: <span th:text="${programme.id}"></span></p>
<p>Programme Name: <span th:text="${programme.name}"></span></p>
<p>Start Date: <span th:text="${programme.startDate}"></span></p>
<p>Heurs: <span th:text="${programme.heurs}"></span></p>
<p>End Date: <span th:text="${programme.endDate}"></span></p>
<p>Description: <span th:text="${programme.description}"></span></p>
</body>
</html>
