
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container form-container">
    <form method="post" action="saveRepas">


        <!-- test
        <div class="form-group">
            <label for="repasId">ID du Repas</label>
            <input type="number" class="form-control" id="repasId" name="repasId" required>
        </div>-->
        <div class="form-group">
            <label for="id">ID</label>
            <input type="number" class="form-control" id="id" name="id" required>
        </div>



        <div class="form-group">
            <label for="repasName">Nom du Repas</label>
            <input type="text" class="form-control" id="repasName" name="repasName" required>
        </div>
        <div class="form-group">
            <label for="repasDescription">Description du Repas</label>
            <input type="text" class="form-control" id="repasDescription" name="repasDescription">
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="Description" name="Description">
        </div>
        <div class="form-group">
            <label for="glicydes">Glycides</label>
            <input type="number" step="0.1" class="form-control" id="glicydes" name="glicydes" required>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <input type="text" class="form-control" id="type" name="type" required>
        </div>
        <div class="form-group">
            <label for="Ingredients">Ingrédients</label>
            <input type="text" class="form-control" id="Ingredients" name="Ingredients" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-custom">
                Ajouter <i class="bi bi-plus"></i>
            </button>
        </div>
    </form>
</div>







<div class="container mt-5">
    <h2 class="mb-4">Liste des Repas</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID du Repas</th>
            <th>ID</th>
            <th>Nom du Repas</th>
            <th>Description du Repas</th>
            <th>Description</th>
            <th>Glycides</th>
            <th>Type</th>
            <th>Ingrédients</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="repas : ${Diabetes}">
            <td th:text="${repas.repasId}"></td>
            <td th:text="${repas.id}"></td>
            <td th:text="${repas.repasName}"></td>
            <td th:text="${repas.repasDescription}"></td>
            <td th:text="${repas.Description}"></td>
            <td th:text="${repas.glicydes}"></td>
            <td th:text="${repas.type}"></td>
            <td th:text="${repas.Ingredients}"></td>
        </tr>
        </tbody>
    </table>
</div>









<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>