<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">

    <form method="post" action="save">


        <div class="input">
            <div>
                <input type="date" name="date_of_Tracking" required>
            </div>
            <div>
                <input type="time" name="time_of_tracking" required>
            </div>
            <div>
                <input type="number" name="value_Glucose" placeholder="Niveau de glucose (mg/dL)" required>
            </div>
            <div class="btn2">
                <button type="submit">
                    Ajouter <i class="bi bi-plus"></i>
                </button>
            </div>
        </div>
        <button>
            <a class="a" href="/ShowInfo" >Show</a>
        </button>



    </form>
</div>

</body>
</html>