<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Liste des Valeurs Glycémies</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
            integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        /* Style pour les lignes impaires */
        .odd-row {
            background-color: #f2f2f2;
        }

        /* Style pour les lignes paires */
        .even-row {
            background-color: #ffffff;
        }
    </style>
</head>

<body>
<div class="container mt-5">
    <h2 class="mb-4">Liste des Valeurs Glycémies</h2>
    <table class="pdfG">
        <thead>
        <tr>
            <th>ID</th>
            <th>Valeur Glycemie</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Commentaire</th>
            <th>ID Diabétiques</th>
        </tr>
        </thead>
        <tbody>
        <!-- Boucle sur les données de glycémie -->
        <tr th:each="glycemie, rowStatus : ${Diabetes}"
            th:class="${rowStatus.odd}? 'odd-row' : 'even-row'">
            <td th:text="${glycemie.getId()}"></td>
            <td class="glycemie-value" th:text="${glycemie.getValeur()}"></td>
            <td class="glycemie-date" th:text="${glycemie.getDate_of_Tracking()}"></td>
            <td th:text="${glycemie.getTime()}"></td>
            <td><!-- Ajoutez le commentaire si nécessaire --></td>
            <td><!-- Ajoutez l'ID du diabétique si nécessaire --></td>
        </tr>
        </tbody>
    </table>
    <button onclick="generatePdf()">Export PDF</button>
</div>

<script>
    function generatePdf() {
        const pdfElement = document.querySelector('.pdfG');
        html2pdf().from(pdfElement).save();
    }
</script>
</body>

</html>
